* {
  background-color: aliceblue;
  background-image: url(form-bg1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main {
  text-align: center;
  font-style: oblique;
  font-size: 40px;
}
#form {
  width: 50%;
  border-style: solid;
  border-width: 5px;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
  border-color: rgb(13, 13, 15);
}
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #0b0a0a;
  outline: none;
}
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #100202;
  outline: none;
}
textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #100202;
  outline: none;
}
fieldset {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #100202;
  outline: none;
}
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #100202;
  outline: none;
}

input[type="color"] {
  border: 3px solid;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 3px solid #100202;
  outline: none;
}
input[type="url"] {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 3px solid #100202;
  outline: none;
}
input[type="search"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #100202;
  outline: none;
}
button {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #100202;
  outline: none;
  margin-left: 38%;
}

input:placeholder-shown {
  color: purple;
  font-style: italic;
}
